In [2]:
#FUNCOES
def freq(serie,ordena_nome = False,digitos=2):
    
    import pandas as pd
    
    """Função para retornar frequencia relativa com missing"""
    """serie - dados a serem estudados - Ex: freq(df['Sex'])"""
    """ordena_nome - Se a ordem da tabela é dada pelo nome True, pela Frequencia False"""
    """digitos - Numero de casas decimais, padrão 2 """
    
    temp = pd.DataFrame(serie.value_counts())

    if(ordena_nome==True):
        
        temp = temp.sort_index() 

    missing = pd.Series(
        
        data={temp.columns[0]:serie.isnull().sum()},
        
        name = '<NA>')

    temp = temp.append(missing, ignore_index=False)

    nr = pd.Series(
        
        data = {temp.columns[0]:sum(temp[temp.columns[0]])},
        
        name = 'TOTAL')

    temp = temp.append(nr, ignore_index=False)

    temp['%']=(temp[temp.columns[0]]/temp.loc['TOTAL'][0]*100).round(digitos)

    return temp

In [1]:
#Exemplos
import seaborn as sns

iris = sns.load_dataset('iris')

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
freq(iris['species'])

            species       %
setosa           50   33.33
versicolor       50   33.33
virginica        50   33.33
<NA>              0    0.00
TOTAL           150  100.00

In [6]:
freq(iris['sepal_length'],ordena_nome=True,digitos=3)

       sepal_length        %
4.3               1    0.667
4.4               3    2.000
4.5               1    0.667
4.6               4    2.667
4.7               2    1.333
4.8               5    3.333
4.9               6    4.000
5.0              10    6.667
5.1               9    6.000
5.2               4    2.667
5.3               1    0.667
5.4               6    4.000
5.5               7    4.667
5.6               6    4.000
5.7               8    5.333
5.8               7    4.667
5.9               3    2.000
6.0               6    4.000
6.1               6    4.000
6.2               4    2.667
6.3               9    6.000
6.4               7    4.667
6.5               5    3.333
6.6               2    1.333
6.7               8    5.333
6.8               3    2.000
6.9               4    2.667
7.0               1    0.667
7.1               1    0.667
7.2               3    2.000
7.3               1    0.667
7.4               1    0.667
7.6               1    0.667
7.7               4    2.667
7.9               1    0.667
<NA>              0    0.000
TOTAL           150  100.000