In [ ]:
from frequencia_cruzada import cfreq
#Exemplos
import pandas as pd
import numpy as np
import seaborn as sns


df = sns.load_dataset("tips")

In [8]:
cfreq(df['smoker'],df['sex'])

sex         Female        Male  TOTAL
smoker
No      54 [62.07]  97 [61.78]    151
Yes     33 [37.93]  60 [38.22]     93
TOTAL           87         157    244

In [9]:
#Inserindo missings 
for col in df.columns:
    df.loc[df.sample(frac=0.3).index, col] = np.nan

In [10]:
#Verificando com missings 
cfreq(df['smoker'],df['sex'])

sex           <NA>      Female        Male  TOTAL
smoker
<NA>    18 [24.66]  19 [31.15]  36 [32.73]     73
No      37 [50.68]  29 [47.54]   44 [40.0]    110
Yes     18 [24.66]  13 [21.31]  30 [27.27]     61
TOTAL           73          61         110    244

In [11]:
#Mudando a referencia e casas decimais 
cfreq(df['smoker'],df['sex'],ref='columns',digit=1)

sex          <NA>     Female       Male  TOTAL
smoker
<NA>    18 [24.7]  19 [31.1]  36 [32.7]     73
No      37 [50.7]  29 [47.5]  44 [40.0]    110
Yes     18 [24.7]  13 [21.3]  30 [27.3]     61
TOTAL          73         61        110    244