In [1]:
#Exemplos
from frequencia_simples import freq

import seaborn as sns

iris = sns.load_dataset('iris')

In [2]:
freq(iris['species'])

c:\Users\Leoma\Documents\Python-Public\frequencia_simples.py:39: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  temp = temp.append(missing, ignore_index=False)
c:\Users\Leoma\Documents\Python-Public\frequencia_simples.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  temp = temp.append(nr, ignore_index=False)

            species       %
setosa           50   33.33
versicolor       50   33.33
virginica        50   33.33
<NA>              0    0.00
TOTAL           150  100.00

In [3]:
freq(iris['sepal_length'],ordena_nome=True,digitos=3)

c:\Users\Leoma\Documents\Python-Public\frequencia_simples.py:39: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  temp = temp.append(missing, ignore_index=False)
c:\Users\Leoma\Documents\Python-Public\frequencia_simples.py:46: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  temp = temp.append(nr, ignore_index=False)

       sepal_length        %
4.3               1    0.667
4.4               3    2.000
4.5               1    0.667
4.6               4    2.667
4.7               2    1.333
4.8               5    3.333
4.9               6    4.000
5.0              10    6.667
5.1               9    6.000
5.2               4    2.667
5.3               1    0.667
5.4               6    4.000
5.5               7    4.667
5.6               6    4.000
5.7               8    5.333
5.8               7    4.667
5.9               3    2.000
6.0               6    4.000
6.1               6    4.000
6.2               4    2.667
6.3               9    6.000
6.4               7    4.667
6.5               5    3.333
6.6               2    1.333
6.7               8    5.333
6.8               3    2.000
6.9               4    2.667
7.0               1    0.667
7.1               1    0.667
7.2               3    2.000
7.3               1    0.667
7.4               1    0.667
7.6               1    0.667
7.7               4    2.667
7.9               1    0.667
<NA>              0    0.000
TOTAL           150  100.000